.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  grid-column: full-start / full-end;
  position: sticky;
  top: 0;
  left: 0;
  padding: 0 3rem;
  background-color: var(--color-secondary);
  border-bottom: 1px solid var(--color-primary-dark-1);
  z-index: 500;
}
