.item-details {
  flex: 0 1 45%;
  align-self: center;
  padding: 3rem;
  color: var(--color-grey-light-1);
}

.item-details__price {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.item-details__price--reduced {
  font-weight: 600;
}

.item-details__form-group:nth-of-type(2) {
  display: flex;
  column-gap: 2rem;
}

.item-details__colors {
  margin-left: 1rem;
  border: none;
  font-size: inherit;
  padding: 0.4rem;
  color: var(--color-grey-light-1);
  background-color: var(--color-secondary);
  border-radius: 3px;
}

.item-details__colors:focus {
  outline: 1px solid var(--color-grey-dark-2);
}

/* .item-details__sizes {
  list-style: none;
  display: flex;
  column-gap: 2rem;
} */

.item-details__size {
  display: none;
}

.item-details__size-label {
  display: inline-block;
  width: 4.6rem;
  height: 4.6rem;
  line-height: 4.6rem;
  text-align: center;
  font-weight: 600;
  color: var(--color-primary-dark-1);
  background-color: var(--color-grey-light-1);
  /* border: 1px solid var(--color-primary); */
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.item-details__size:checked + .item-details__size-label {
  color: var(--color-primary-light-1);
  background-color: var(--color-primary-dark-1);
  transform: scale(1.05);
}

.item-details__size:not(:checked) + .item-details__size-label {
  box-shadow: 0 0.5rem 1rem rgba(var(--color-black-rgb), 0.2);
  transform: scale(0.9);
}

.item-details__fabrics {
  list-style: none;
  display: flex;
}

.item-details__availability {
  text-transform: uppercase;
  font-weight: 600;
}
